[buildout]
extends = https://github.com/audiowalkman/walkman/raw/92eada96c0f87db489b3c3d8dd692b51a4d9f1e4/buildout/buildout.cfg
parts +=
    perform-prologue
    perform-prologue-stereo
    simulate-prologue
    simulate-prologue-stereo
    reverb_test
    reverb_test_stereo

[jinja2-template-base]
recipe = slapos.recipe.template:jinja2
rendered = ${buildout:directory}/bin/${:_buildout_section_name_}

[walkman-buildout-template]
url = walkman.cfg.j2

[walkman-modules]
walkman_modules.prologue = 0.1.0

[prologue]
<= walkman-binary
configuration-file-path = prologue.toml.j2

[prologue-stereo]
<= walkman-binary
configuration-file-path = prologue_stereo.toml.j2

[simulate-prologue-base]
<= jinja2-template-base
template = simulate.j2

[multichannel]
context = key run_walkman prologue:rendered

[stereo]
context = key run_walkman prologue-stereo:rendered

[simulate-prologue]
<= simulate-prologue-base
context = ${multichannel:context}

[simulate-prologue-stereo]
<= simulate-prologue-base
context = ${stereo:context}

[perform-prologue-base]
<= jinja2-template-base
template = perform.j2

[perform-prologue]
<= perform-prologue-base
context = ${multichannel:context}

[perform-prologue-stereo]
<= perform-prologue-base
context = ${stereo:context}

[reverb_test]
<= walkman-binary
configuration-file-path = reverb_test.toml.j2

[reverb_test_stereo]
<= walkman-binary
configuration-file-path = reverb_test_stereo.toml.j2
