# Implementation of live-electronics for Griseys Prologue
# by Levin Eric Zimmermann

# This program is free software: you can redistribute it and/or modify  
# it under the terms of the GNU General Public License as published by  
# the Free Software Foundation, version 3.
#
# This program is distributed in the hope that it will be useful, but 
# WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License 
# along with this program. If not, see <http://www.gnu.org/licenses/>.

###########################################
#                CONFIGURE                #
###########################################


{% from 'globals.j2' import
    resonance_configuration_path_list,
    minima_decibel_list,
    maxima_decibel_list,
    resonator_count,
    midi_control_number_offset,
    default_balance_list,
    add_envelope_follower_list
%}

[configure]
name = "prologue"

[configure.audio]
channel_count = 5

[configure.module.audio_input.viola]
decibel = "midi_control_input.master"
input_channel_index = 0


{% for midi_control_input_name in [
    "master", "convolution_reverb_prologue", "amplification", "amplification_reverb"
] %}

{% set midi_control_index = loop.index - 1 %}

[configure.module.midi_control_input.{{ midi_control_input_name }}]
midi_control_number = {{ midi_control_number_offset + midi_control_index }}
midi_channel = 0

[configure.module.midi_control_input.{{ midi_control_input_name }}.default_dict]
minima = -48
maxima = 12
{% endfor %}

[configure.module.mixer.master_output]
send_to_physical_output = true
audio_input_0 = "mixer.viola"
{% for resonator_index in range(resonator_count) %}
audio_input_{{- loop.index -}} = "butterworth_highpass_filter.{{ resonator_index }}"
{% endfor %}

{% for channel_index in range(resonator_count) %}
[configure.module.mixer.master_output.default_dict.audio_input_{{- loop.index -}}_channel_mapping]
0 = {{ channel_index }}
{% endfor %}

[configure.module.mixer.master_output.channel_mapping]
{% block output_channel_mapping %}
{% endblock output_channel_mapping %}

[configure.module.mixer.viola]
audio_input_0 = "amplification.viola"
audio_input_1 = "waveguide_reverb.viola"

[configure.module.mixer.viola.channel_mapping]
0 = {{ range(resonator_count)|list }}

[configure.module.butterworth_highpass_filter.viola]
audio_input = "audio_input.viola"

[configure.module.value.butterworth_highpass_filter_viola_child_frequency]
value = 100

[configure.module.amplification.viola]
decibel = "midi_control_input.amplification"
audio_input = "butterworth_highpass_filter.viola"
fade_in_duration = 3
fade_out_duration = 4

[configure.module.waveguide_reverb.viola]
decibel = "midi_control_input.amplification_reverb"
audio_input = "audio_input.viola"

[configure.module.value.waveguide_reverb_viola_child_feedback]
value = 0.5

[configure.module.value.waveguide_reverb_viola_child_cutoff_frequency]
value = 6000

{% for resonance_configuration_path in resonance_configuration_path_list %}

{% set convolution_reverb_index = loop.index - 1 %}
{% set minima_decibel = minima_decibel_list[convolution_reverb_index] %}

[configure.module.parameter.decibel_{{ convolution_reverb_index }}]

[configure.module.butterworth_highpass_filter.{{ convolution_reverb_index }}]
decibel = "midi_control_input.convolution_reverb_prologue"
audio_input = "convolution_reverb_prologue.{{ convolution_reverb_index }}"

[configure.module.value.butterworth_highpass_filter_{{ convolution_reverb_index }}_child_frequency]
value = 140

[configure.module.convolution_reverb_prologue.{{ convolution_reverb_index }}]
audio_input = "butterworth_highpass_filter.viola"
decibel = "parameter.decibel_{{ convolution_reverb_index }}"
resonance_configuration_file_path_list = {{ resonance_configuration_path }}
add_envelope_follower = {{ add_envelope_follower_list[convolution_reverb_index] }}
fade_in_duration = 3
fade_out_duration = 4

[configure.module.convolution_reverb_prologue.{{ convolution_reverb_index }}.default_dict.channel_mapping]
0 = {{ convolution_reverb_index }}

[configure.module.convolution_reverb_prologue.{{ convolution_reverb_index }}.default_dict.decibel]
rise_time = 0.85
fall_time = 0.85

{% endfor %}


{% block cues %}
{% endblock cues %}
