{% from 'globals.j2' import get_decibel, rise, fall  %}

# ##################### CUES ################# #
#
# Cues are set according to annotated score version of
# Eric Daubresse from 2005.
#
# ############################################ #


{# activate reverb and amplification in all cues #}

{% for cue_index in range(117) %}
[cue.{{ cue_index + 1 }}.amplification.viola]
[cue.{{ cue_index + 1 }}.waveguide_reverb.viola]
{% endfor %}


# CUE 1
# (empty start)
[cue.1]


# CUE 2
{% set cue_2_duration = 15 %}

[cue.2.resonator.0.decibel]
value = {{ rise(0, cue_2_duration) }}
# envelope_type = "exponential"


# CUE 3
[cue.3.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.3.resonator.2.decibel]
value = {{ rise(2, 6) }}


# CUE 4
[cue.4.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 5
{% set cue_5_duration = 8 %}

[cue.5.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.5.resonator.1.decibel]
value = {{ fall(1, cue_5_duration) }}


# CUE 6
[cue.6.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 7
[cue.7.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 8
[cue.8.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 9
[cue.9.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 10
[cue.10.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 11
[cue.11.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 12
[cue.12.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 13
[cue.13.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 14
[cue.14.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 15
[cue.15.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 16
[cue.16.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 17
[cue.17.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.17.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 18
{% set cue_18_duration = 6 %}

[cue.18.resonator.0.decibel]
value = {{ fall(0, cue_18_duration) }}

[cue.18.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 19
{% set cue_19_duration = 5 %}

[cue.19.resonator.0.decibel]
value = {{ rise(0, cue_19_duration) }}

[cue.19.resonator.1.decibel]
value = {{ fall(1, cue_19_duration) }}


# CUE 20
{% set cue_20_duration = 4 %}

[cue.20.resonator.0.decibel]
value = {{ fall(0, cue_20_duration) }}

[cue.20.resonator.1.decibel]
value = {{ rise(1, cue_20_duration) }}


# CUE 21
{% set cue_21_duration = 4 %}

[cue.21.resonator.0.decibel]
value = {{ rise(0, cue_21_duration) }}

[cue.21.resonator.1.decibel]
value = {{ fall(1, cue_21_duration) }}


# CUE 22
{% set cue_22_duration = 5 %}

[cue.22.resonator.0.decibel]
value = {{ fall(0, cue_22_duration) }}

[cue.22.resonator.1.decibel]
value = {{ rise(1, cue_22_duration) }}


# CUE 23
{% set cue_23_duration = 5 %}

[cue.23.resonator.0.decibel]
value = {{ rise(0, cue_23_duration) }}

[cue.23.resonator.1.decibel]
value = {{ fall(1, cue_23_duration) }}


# CUE 24
{% set cue_24_duration = 6 %}

[cue.24.resonator.0.decibel]
value = {{ fall(0, cue_24_duration) }}

[cue.24.resonator.1.decibel]
value = {{ rise(1, cue_24_duration) }}


# CUE 25
{% set cue_25_duration = 4 %}

[cue.25.resonator.0.decibel]
value = {{ rise(0, cue_25_duration) }}

[cue.25.resonator.1.decibel]
value = {{ fall(1, cue_25_duration) }}


# CUE 26
{% set cue_26_duration = 5 %}

[cue.26.resonator.0.decibel]
value = {{ fall(0, cue_26_duration) }}

[cue.26.resonator.1.decibel]
value = {{ rise(1, cue_26_duration) }}


# CUE 27
{% set cue_27_duration = 5.5 %}

[cue.27.resonator.0.decibel]
value = {{ rise(0, cue_27_duration) }}

[cue.27.resonator.1.decibel]
value = {{ fall(1, cue_27_duration) }}


# CUE 28
{% set cue_28_duration = 4.5 %}

[cue.28.resonator.0.decibel]
value = {{ fall(0, cue_28_duration) }}

[cue.28.resonator.1.decibel]
value = {{ rise(1, cue_28_duration) }}


# CUE 29
[cue.29.resonator.1.decibel]
value = {{ get_decibel(0) }}


# CUE 30
{% set cue_30_duration = 5 %}

[cue.30.resonator.0.decibel]
value = {{ rise(0, cue_30_duration) }}

[cue.30.resonator.1.decibel]
value = {{ fall(1, cue_30_duration) }}


# CUE 31
[cue.31.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 32
{% set cue_32_duration = 16 %}

[cue.32.resonator.0.decibel]
value = {{ fall(0, cue_32_duration, after=30) }}

[cue.32.resonator.2.decibel]
value = {{ rise(2, cue_32_duration) }}


# CUE 33
{% set cue_33_duration = 4 %}

[cue.33.resonator.0.decibel]
value = {{ rise(0, cue_33_duration, before=30, after=0) }}

[cue.33.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 34
{% set cue_34_duration = 4 %}

[cue.34.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.34.resonator.1.decibel]
value = {{ fall(1, cue_34_duration) }}


# CUE 35
{% set cue_35_duration = 4 %}

[cue.35.resonator.0.decibel]
value = {{ fall(0, cue_35_duration) }}

[cue.35.resonator.1.decibel]
value = {{ rise(1, cue_35_duration) }}


# CUE 36
[cue.36.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.36.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 37
[cue.37.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.37.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.37.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 38
{% set cue_38_duration = 5 %}

[cue.38.resonator.0.decibel]
value = {{ fall(0, cue_38_duration) }}

[cue.38.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 39
{% set cue_39_duration = 5 %}

[cue.39.resonator.0.decibel]
value = {{ rise(0, cue_39_duration) }}

[cue.39.resonator.1.decibel]
value = {{ fall(1, cue_39_duration) }}


# CUE 40
{% set cue_40_duration = 4 %}

[cue.40.resonator.0.decibel]
value = {{ fall(0, cue_40_duration) }}

[cue.40.resonator.1.decibel]
value = {{ rise(1, cue_40_duration) }}


# CUE 41
{% set cue_41_duration = 7 %}

[cue.41.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.41.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.41.resonator.3.decibel]
value = {{ rise(3, cue_41_duration) }}


# CUE 42
{% set cue_42_duration = 5 %}

[cue.42.resonator.0.decibel]
value = {{ fall(0, cue_42_duration) }}

[cue.42.resonator.2.decibel]
value = {{ rise(2, cue_42_duration) }}


# CUE 43
{% set cue_43_duration = 4 %}

[cue.43.resonator.0.decibel]
value = {{ fall(0, cue_43_duration) }}

[cue.43.resonator.1.decibel]
value = {{ rise(1, cue_43_duration) }}


# CUE 44
{% set cue_44_duration = 6 %}

[cue.44.resonator.0.decibel]
value = {{ fall(0, cue_44_duration) }}

[cue.44.resonator.2.decibel]
value = {{ rise(2, cue_44_duration) }}


# CUE 45
{% set cue_45_duration = 6 %}

[cue.45.resonator.1.decibel]
value = {{ fall(1, cue_45_duration) }}

[cue.45.resonator.2.decibel]
value = {{ rise(2, cue_45_duration) }}


# CUE 46
[cue.46.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 47
[cue.47.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 48
[cue.48.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 49
[cue.49.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 50
[cue.50.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.50.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 51
[cue.51.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.51.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 52
[cue.52.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.52.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 53
[cue.53.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.53.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 54
[cue.54.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.54.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 55
[cue.55.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.55.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 56
[cue.56.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.56.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 57
[cue.57.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.57.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 58
[cue.58.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.58.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 59
{% set cue_59_part_0_duration = 2 %}
{% set cue_59_part_1_duration = 7 %}
{% set cue_59_duration = cue_59_part_0_duration + cue_59_part_1_duration %}

[cue.59.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.59.resonator.2.decibel]
value = [[0, {{- get_decibel(2) -}}], [{{- cue_59_part_0_duration -}}, {{- get_decibel(2) -}}], [{{- cue_59_duration -}}, {{- get_decibel(2, 0) -}}]]

[cue.59.resonator.3.decibel]
value = [[0, {{- get_decibel(3, 0) -}}], [{{- cue_59_part_0_duration -}}, {{- get_decibel(3, 0) -}}], [{{- cue_59_duration -}}, {{- get_decibel(3) -}}]]


# CUE 60
{% set cue_60_part_duration = 1.5 %}

[cue.60.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.60.resonator.2.decibel]
value = [[0, {{- get_decibel(2, 0) -}}], [{{- cue_60_part_duration - 0.1 -}}, {{ get_decibel(2, 0) }}], [{{- cue_60_part_duration -}}, {{ get_decibel(2) }}]]

[cue.60.resonator.3.decibel]
value = [[0, {{- get_decibel(3) -}}], [{{- (cue_60_part_duration * 2) - 0.1 -}}, {{ get_decibel(3, 0) }}], [{{- cue_60_part_duration * 2 -}}, {{ get_decibel(3) }}]]


# CUE 61
{% set cue_61_duration = 3 %}

[cue.61.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.61.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.61.resonator.3.decibel]
value = {{ fall(3, cue_61_duration) }}


# CUE 62
[cue.62.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.62.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.62.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 63
{% set cue_63_duration = 6 %}

[cue.63.resonator.0.decibel]
value = {{ fall(0, cue_63_duration) }}

[cue.63.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.63.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 64
[cue.64.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.64.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.64.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 65
[cue.65.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.65.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.65.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 66
{% set cue_66_duration = 6 %}

[cue.66.resonator.0.decibel]
value = {{ rise(0, cue_66_duration) }}

[cue.66.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.66.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 67
[cue.67.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.67.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.67.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 68
{% set cue_68_part_0_duration = 2.5 %}
{% set cue_68_part_1_duration = 5 %}
{% set cue_68_part_2_duration = 2 %}

[cue.68.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.68.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.68.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.68.snare_resonator.4.decibel]
value = [
    [0, {{- get_decibel(4, 0) -}}],
    [{{- cue_68_part_0_duration -}}, {{- get_decibel(4, 0) -}}],
    [{{- cue_68_part_1_duration + cue_68_part_0_duration -}}, {{- get_decibel(4, 90) -}}],
    [{{- cue_68_part_1_duration + cue_68_part_0_duration + cue_68_part_2_duration -}}, {{- get_decibel(4, 0) -}}]
]


# CUE 69
[cue.69.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 70
[cue.70.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.70.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 71
[cue.71.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.71.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 72
[cue.72.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.72.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 73
[cue.73.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.73.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 74
[cue.74.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.74.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 75
[cue.75.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.75.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 76
[cue.76.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 77
[cue.77.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.77.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 78
[cue.78.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.78.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 79
[cue.79.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.79.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 80
[cue.80.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.80.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 81
[cue.81.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.81.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 82
[cue.82.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.82.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 83
[cue.83.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.83.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 84
{% set cue_84_duration = 4 %}

[cue.84.resonator.0.decibel]
value = {{ rise(0, cue_84_duration) }}

[cue.84.resonator.1.decibel]
value = {{ rise(1, cue_84_duration) }}

[cue.84.resonator.2.decibel]
value = {{ fall(2, cue_84_duration) }}

[cue.84.resonator.3.decibel]
value = {{ fall(3, cue_84_duration) }}


# CUE 85
[cue.85.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.85.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.85.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 86
{% set cue_86_duration = 3.5 %}

[cue.86.resonator.0.decibel]
value = {{ fall(0, cue_86_duration) }}

[cue.86.resonator.1.decibel]
value = {{ fall(1, cue_86_duration) }}

[cue.86.resonator.2.decibel]
value = {{ rise(2, cue_86_duration) }}

[cue.86.resonator.3.decibel]
value = {{ fall(3, cue_86_duration) }}


# CUE 87
[cue.87.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.87.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.87.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 88
[cue.88.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.88.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.88.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 89
{% set cue_89_duration = 3 %}

[cue.89.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.89.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.89.resonator.2.decibel]
value = {{ fall(2, cue_89_duration) }}

[cue.89.resonator.3.decibel]
value = {{ fall(3, cue_89_duration) }}


# CUE 90
{% set cue_90_duration = 3 %}

[cue.90.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.90.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.90.resonator.2.decibel]
value = {{ rise(2, cue_90_duration) }}

[cue.90.resonator.3.decibel]
value = {{ rise(3, cue_90_duration) }}


# CUE 91
{% set cue_91_duration = 17 %}

[cue.91.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.91.resonator.1.decibel]
value = {{ get_decibel(0) }}

[cue.91.resonator.2.decibel]
value = {{ get_decibel(0) }}

[cue.91.resonator.3.decibel]
value = {{ get_decibel(0) }}

[cue.91.snare_resonator.4.decibel]
value = {{ rise(4, cue_91_duration) }}


# CUE 92
[cue.92.resonator.0.decibel]
value = {{ fall(0, 25) }}

[cue.92.resonator.1.decibel]
value = {{ fall(1, 20) }}

[cue.92.resonator.2.decibel]
value = {{ fall(2, 5) }}

[cue.92.resonator.3.decibel]
value = {{ fall(3, 10) }}

[cue.92.snare_resonator.4.decibel]
value = {{ fall(4, 16) }}


# CUE 93
[cue.93.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 94
[cue.94.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 95
[cue.95.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 96
[cue.96.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 97
[cue.97.resonator.0.decibel]
value = {{ get_decibel(0) }}


# CUE 98
[cue.98.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 99
[cue.99.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 100
[cue.100.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 101
[cue.101.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.101.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 102
[cue.102.resonator.2.decibel]
value = {{ get_decibel(1) }}

[cue.102.resonator.3.decibel]
value = {{ get_decibel(2) }}


# CUE 103
[cue.103.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.103.resonator.1.decibel]
value = {{ get_decibel(1) }}


# CUE 104
[cue.104.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.104.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 105
[cue.105.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.105.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 106
[cue.106.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.106.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 107
[cue.107.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.107.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 108
[cue.108.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.108.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 109
[cue.109.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.109.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.109.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 110
[cue.110.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.110.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.110.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 111
[cue.111.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.111.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.111.resonator.2.decibel]
value = {{ get_decibel(2) }}


# CUE 112
[cue.112.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.112.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.112.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.112.resonator.3.decibel]
value = {{ get_decibel(3) }}

[cue.112.snare_resonator.4.decibel]
value = {{ rise(4, 4) }}


# CUE 113
[cue.113.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.113.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.113.resonator.2.decibel]
value = {{ get_decibel(2) }}

[cue.113.resonator.3.decibel]
value = {{ get_decibel(3) }}

[cue.113.snare_resonator.4.decibel]
value = {{ fall(4, 9) }}


# CUE 114
[cue.114.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.114.resonator.1.decibel]
value = {{ get_decibel(1) }}

[cue.114.resonator.2.decibel]
value = {{ fall(2, 10) }}

[cue.114.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 115
[cue.115.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.115.resonator.1.decibel]
value = {{ fall(1, 10) }}

[cue.115.resonator.3.decibel]
value = {{ get_decibel(3) }}


# CUE 116
[cue.116.resonator.0.decibel]
value = {{ get_decibel(0) }}

[cue.116.resonator.3.decibel]
value = {{ fall(3, 10) }}


# CUE 117
[cue.117.resonator.0.decibel]
value = {{ fall(0, 10) }}
