{% from 'globals.j2' import get_decibel, module_class_list %}

{% for reverb_index in range(5) %}
[cue.rev{{ reverb_index }}.{{ module_class_list[reverb_index] }}.{{ reverb_index }}]
decibel = {{ get_decibel(reverb_index) }}
{% endfor %}
