{# SET GLOBAL VARIABLES #}

{# IMPULSE RESPONSES #}

{#      1. PALME        #}
{#      2. PIANO        #}
{#      3. TAM-TAM      #}
{#      4. METALIC      #}
{#      5. SNARE DRUM   #}

# "impulse_responses/vietnamese_gong_big_2.wav"

{% set resonance_configuration_path_list = [
    [[1, "resonances/palme-res.txt"]],
    [
        [0.142, "resonances/piano0.txt", 2],
        [0.381, "resonances/piano1.txt", 2],
        [0.034, "resonances/piano2.txt", 1],
        [0.021, "resonances/piano3.txt", 2],
        [0.027, "resonances/piano4.txt", 2],
        [0.013, "resonances/piano5.txt", 2],
    ],
    [[1, "resonances/tam-res.txt"]],
    [[1, "resonances/metalic-res.txt"]],
    [[1, "resonances/snare-drum.txt"]],
] %}

{% set add_envelope_follower_list = ["false", "false", "false", "false", "true"] %}

{% set default_balance_list = [0.5, 0.5, 0.2, 0.3, 0.3] %}

{% set minima_decibel_list = [-12, -12, -12, -12, -12] %}
{% set maxima_decibel_list = [7, 15, 12, 12, 12] %}

{% set resonator_count = resonance_configuration_path_list|length %}

{# The first midi control number for the volume control #}
{% set midi_control_number_offset = 48 %}

{%- macro get_decibel(convolution_reverb_index, percentage=100) -%}
    {%- set minima_decibel = minima_decibel_list[convolution_reverb_index] -%}
    {%- set maxima_decibel = maxima_decibel_list[convolution_reverb_index] -%}
    {{- ((maxima_decibel - minima_decibel) * (percentage / 100)) + minima_decibel -}}
{%- endmacro -%}

{%- macro rise(convolution_reverb_index, duration, before=0, after=100) -%}
    [[0, {{- get_decibel(convolution_reverb_index, before) -}}], [{{ duration }}, {{- get_decibel(convolution_reverb_index, after) -}}]]
{%- endmacro -%}

{% macro fall(convolution_reverb_index, duration, before=100, after=0) %}
    {{- rise(convolution_reverb_index, duration, before, after) -}}
{% endmacro %}
