# Implementation of live-electronics for Griseys Prologue
# by Levin Eric Zimmermann

# This program is free software: you can redistribute it and/or modify  
# it under the terms of the GNU General Public License as published by  
# the Free Software Foundation, version 3.
#
# This program is distributed in the hope that it will be useful, but 
# WITHOUT ANY WARRANTY; without even the implied warranty of 
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU 
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License 
# along with this program. If not, see <http://www.gnu.org/licenses/>.

###########################################
#                CONFIGURE                #
###########################################

{# SET GLOBAL VARIABLES #}

{# IMPULSE RESPONSES #}

{#      1. PALME        #}
{#      2. PIANO        #}
{#      3. TAM-TAM      #}
{#      4. METALIC      #}
{#      5. SNARE DRUM   #}

{% set impulse_path_list = [
    "impulse_responses/double_bass.wav",
    "impulse_responses/piano0.wav",
    "impulse_responses/vietnamese_gong_big_2.wav",
    "impulse_responses/metal_gong_bronze_small.wav",
    "impulse_responses/vietnamese_gong_big_3.wav",
] %}

{% set resonator_count = impulse_path_list|length %}

{# The first midi control number for the volume control #}
{% set midi_control_number_offset = 48 %}


[configure]
name = "prologue"

[configure.input]
midi_control_list = [
    {% for index in range(resonator_count) %}
    # MIDI_CONTROL_NUMBER, MIDI_CHANNEL
    [{{ index + midi_control_number_offset }}, 1],
    {% endfor %}
]

[configure.input.channel_mapping]
0 = 0

[configure.output.channel_mapping]
{% block output_channel_mapping %}
{% endblock output_channel_mapping %}

[configure.module.convolution_reverb]
replication_count = {{ resonator_count }}

{% for impulse_path in impulse_path_list %}

{% set convolution_reverb_index = loop.index - 1 %}

[configure.module.convolution_reverb.{{ convolution_reverb_index }}]
impulse_path = "{{ impulse_path }}"

[configure.module.convolution_reverb.{{ convolution_reverb_index }}.default_dict.channel_mapping]
0 = {{ convolution_reverb_index }}
# 0 = 0

[configure.module.convolution_reverb.{{ convolution_reverb_index }}.default_dict.decibel]
midi_control_index = {{ convolution_reverb_index }}
midi_range = [-120, 0]

# CUE
[cue.1.convolution_reverb.{{ convolution_reverb_index }}]

{% endfor %}
